@import url("https://fonts.googleapis.com/css2?family=Quintessential&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.nav {
  width: 100%;
  /* height: 4rem; */
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
    rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
  position: sticky;
  top: 0;
  margin-top: 0.5rem;
  padding: 0;
  /* overflow: hidden; */
}
.active {
  color: #000;
}

.logo-img {
  width: 80px;
}

.logo-img img {
  width: 100%;
  height: 100%;
}

.nav-items {
  /* margin: 0 0.5rem; */
  /* overflow: hidden; */
  /* padding: 0 0.5rem; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* z-index: 5; */
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .nav-items {
    margin: 0 1rem 0 0.1rem;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .nav-items {
    margin: 0 1rem 0 0.1rem;
  }
}

.bar {
  display: none;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .bar {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .bar {
    display: flex;
    margin-top: 1rem;
    cursor: pointer;
  }
}

.nav-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.nav-logo h1,
.sml-txt {
  padding: 0;
  margin: 0;
  font-size: 20px;
  color: rgb(33, 46, 238);
  text-transform: uppercase;
  font-family: "Quintessential", "Franklin Gothic Medium", "Arial Narrow", Arial,
    sans-serif;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .nav-logo h1 {
    font-size: 18px;
  }
  .nav-logo h2 {
    font-size: 15px;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .nav-logo h1 {
    font-size: 18px;
  }
  .nav-logo h2 {
    font-size: 15px;
  }
}

.nav-ul {
  display: flex;
  position: relative;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .nav-ul {
    /* display: none; */
    padding: 2rem;
    position: absolute;
    /* height: fit-content; */
    width: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    top: 5rem;
    left: -99rem;
    background-color: rgba(58, 57, 57, 0.986);
    border-radius: 15px;
    /* right: 1rem; */
    transition: 0.5s;
    transition-property: left;
    /* z-index: 2; */
  }
  .active .nav-ul {
    left: 1.5rem;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .nav-ul {
    /* display: none; */
    padding: 2rem;
    position: absolute;
    /* height: fit-content; */
    width: 90% !important;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    text-align: center;
    top: 4rem;
    left: -99rem;
    background-color: rgba(58, 57, 57, 0.986);
    transition: 0.5s;
    border-radius: 15px;
    transition-property: top;
    z-index: 2;
  }
  .active .nav-ul {
    left: 1.5rem;
  }
}

.nav-list {
  margin: 0 1rem;
  padding: .5rem;
  list-style: none;
  font-size: 14px;
  background-color: #037fff;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .nav-list {
    height: 100%;
    font-weight: 600;
    width: 100%;
    color: white;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .nav-list {
    height: 100%;
    font-weight: 600;
    width: 100%;
  }
}

.register {
  background-color: rgb(33, 46, 238);
  border-color: rgb(33, 46, 238);
  line-height: 1.5715;
  /* position: relative; */
  /* display: inline-block; */
  font-weight: 600;
  margin-top: 1rem;
  white-space: nowrap;
  text-align: center;
  box-shadow: 0 2px 0 rgb(0 0 0 / 2%);
  cursor: pointer;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  touch-action: manipulation;
  height: 32px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 14px 3rem;
  font-size: 14px;
  border-radius: 5px;
}
.nav-lis {
  list-style: none;
}
@media screen and (min-width: 200px) and (max-width: 560px) {
  .register {
    margin-top: 0;
    text-align: center;
    padding: 0 2rem;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .register {
    margin-top: 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 200px) and (max-width: 560px) {
  .login {
    color: rgb(33, 46, 238);
    outline: transparent;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    background-color: #fff;
    width: 15rem;

    padding: 1rem 0;
    margin: 1rem 0;
  }
}
@media screen and (min-width: 560px) and (max-width: 960px) {
  .login {
    color: rgb(33, 46, 238);
    outline: transparent;
    border-radius: 10px;
    font-size: 30px;
    background-color: #fff;
    width: 15rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0;
    margin: 0.5rem 0;
  }
}

.case {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  background-color: #fff;
  padding: 0;
  margin: 0;
  position: relative;
  z-index: 1;
}

.case p {
  font-size: 1.5rem;
  font-weight: 600;
  color: #000;
  margin-bottom: 0;
  padding: 0;
}

.case-items {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.case-items img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
.underline {
  width: 60px;
  margin-bottom: 2rem;
  height: 5px;

  background-color: navy;
}
.footer-items {
  margin: 0;
  background-color: #037fff;
  display: flex;
  justify-content: space-between;
  color: white;
}
.foot1 {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.foot2 {
  width: 30%;
  display: flex;
  justify-content: space-around;
}
.report {
  margin: 1rem;
  text-align: center;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  flex-direction: column;
}

.report-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.report-input input {
  width: 50%;
  padding: 7px;
  margin: 8px;
}

.report-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.report-button button {
  width: 20%;
  padding: 7px;
  margin: 8px;
  background-color: #03a9f4;
  outline: none;
  border: none;
  border-radius: 5px;
}
